.container {
    width: fit-content;
    padding-bottom: 2%;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.pokemon-name {
    font-size: 40px;
}

img {
    width: 200px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.non-moves {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile {
    display: flex;
}

.base-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.abilities-container {
    margin-left: 20px;
}

span {
    white-space: nowrap;
}

.abilities-top {
    display: flex;
}

.moves-title {
    align-self: center;
}

.moves-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
