<div class="container">
    <ng-container *ngIf="!canCollect(); else elseTemplate">
        <button mat-raised-button color="accent" (click)="collectPokemon()">
            Collect!
        </button>
    </ng-container>
    <ng-template #elseTemplate
        ><h2>Yay! You have already collected this pokemon</h2>
    </ng-template>

    <div class="non-moves">
        <div>
            <div class="title-container">
                <img [src]="pokemon.image" />
                <h1 class="pokemon-name">{{ pokemon.name }}</h1>
            </div>
            <h2 class="">Base stats:</h2>
            <div class="stats">
                <span>Health: {{ pokemon.base_stats?.hp }}</span>
                <span>Attack: {{ pokemon.base_stats?.attack }}</span>
                <span>Defense: {{ pokemon.base_stats?.defense }}</span>
                <span
                    >Special attack:
                    {{ pokemon.base_stats?.specialAttack }}</span
                >
                <span
                    >Special defense:
                    {{ pokemon.base_stats?.specialDefense }}</span
                >
                <span>Speed: {{ pokemon.base_stats?.speed }}</span>
            </div>
        </div>

        <div class="profile">
            <div>
                <h1>Profile:</h1>
                <div class="profile-container">
                    <div class="abilities-top">
                        <div class="base-info">
                            <span
                                >Base experience:
                                {{ pokemon.base_experience }}</span
                            >
                            <span>Height: {{ pokemon.height }}0 cm.</span>
                            <span
                                >Weight:
                                {{ (pokemon.weight || 0) / 10 }} kg.</span
                            >
                        </div>
                        <div class="abilities-container">
                            <h3>Abilities:</h3>
                            <ul>
                                <li *ngFor="let ability of pokemon.abilities">
                                    {{ ability }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Types:</h3>
                        <ul>
                            <li *ngFor="let type of pokemon.types">
                                {{ type }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moves-container">
        <h2 class="moves-title">Moves:</h2>
        <ul class="grid">
            <li *ngFor="let move of pokemon.moves">{{ move }}</li>
        </ul>
    </div>
</div>
