<div class="container">
    <h1>Hello {{ name }}!</h1>
    <div class="grid-container">
        <pokemon-card
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon"
            (cardClicked)="onPokemonClicked($event)"
        ></pokemon-card>
    </div>

    <h2 *ngIf="pokemons.length === 0">
        You have not collected any pokemons. Go to the catalogue to start
        collecting!
    </h2>
</div>
