<mat-toolbar class="navbar" role="heading">
    <div class="left-side">
        <span class="title">Pokemon Trainer!</span>
        <div class="links-container">
            <a
                class="link"
                routerLink="/dashboard"
                routerLinkActive="active-link"
                ><button mat-button>Dashboard</button></a
            >
            <a
                class="link"
                routerLink="/catalogue"
                routerLinkActive="active-link"
                ><button mat-button>Catalogue</button></a
            >
        </div>
    </div>
    <div class="link">
        <button mat-button (click)="logOut()">Log out</button>
    </div>
</mat-toolbar>
