.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #3b4cca;
}

.left-side {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
}

.title {
    font-weight: bold;
    color: #ffde00;
}

.links-container {
    display: flex;
    margin-left: 20px;
    height: 100%;
}

.link {
    text-decoration: none;
    color: white;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

.active-link {
    text-decoration: none;
    background-color: #320b86;
}
