.container {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.prev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
