<div class="container">
    <div class="buttons-container">
        <arrow-icon
            (arrowClick)="prevPage()"
            [ngClass]="{ hidden: page === 0 }"
            class="prev"
        ></arrow-icon>
        <arrow-icon
            (arrowClick)="nextPage()"
            [ngClass]="{ hidden: page === 55 }"
        ></arrow-icon>
    </div>

    <div class="pokemon-container">
        <pokemon-card
            (cardClicked)="onPokemonClicked($event)"
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon"
        >
        </pokemon-card>
    </div>
</div>
