<div class="container">
    <mat-form-field appearance="fill" class="input">
        <mat-label>Enter your super awesome trainer name!</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <button
        class="button"
        [disabled]="name.trim().length === 0"
        mat-raised-button
        (click)="onGoClick()"
        color="primary"
    >
        Go!
    </button>
</div>
