/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #ffde00;
    border-left: 3px solid #edf2f4;
    border-right: 3px solid #edf2f4;
}

::-webkit-scrollbar-track {
    background-color: #3b4cca;
}

::-webkit-scrollbar {
    width: 20px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
